<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Staffelführer Ansicht</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/common.js"></script>
    <script src="/static/js/staffelfuehrer.js"></script>
</head>
<body>
<div class="leitstelle-container">
    <div class="card">
        <div class="header-container">
            <h1>Staffelführer: {{ name }}</h1>
        </div>
        <p>Code: <span class="code-display" style="font-size: 1.2rem; padding: 5px 10px;">{{ sf_code }}</span></p>
    </div>

    <div id="connections">
        <p>Lade Fahrzeuge...</p>
    </div>
</div>

<footer>
    <p>Made with ❤️ and 🏳️‍🌈 | <a href="https://github.com/rainbowdashlabs/status-sim" target="_blank">GitHub</a></p>
    <p>&copy; {{ current_year }} Rainbowdashlabs and Contributor GPL-3.0</p>
</footer>

<script>
    initStaffelfuehrer("{{ sf_code }}");
</script>
</body>
</html>
