name: Docker Build

on:
  release:
    types:
      - published
  push:
    tags:
    branches:
      - main
      - dev

jobs:
  docker-build:
    runs-on: ubuntu-latest
    name: Deploy Docker Image

    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build . -t ghcr.io/rainbowdashlabs/status-sim:${{ github.sha }}
      - name: Login to Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login -u $ --password-stdin ghcr.io
      - name: Push image
        run: |
          docker push ghcr.io/rainbowdashlabs/status-sim:${{ github.sha }}
      - name: Tag & Push branch image
        run: |
          docker image tag ghcr.io/rainbowdashlabs/status-sim:${{ github.sha }} ghcr.io/rainbowdashlabs/status-sim:${{ github.ref_name }}
          docker push ghcr.io/rainbowdashlabs/status-sim:${{ github.ref_name }}
      - name: Tag & Push latest image
        if: github.ref_name == 'main'
        run: |
          docker image tag ghcr.io/rainbowdashlabs/status-sim:${{ github.sha }} ghcr.io/rainbowdashlabs/status-sim:latest
          docker push ghcr.io/rainbowdashlabs/status-sim:latest
